/*------------------------------------*
 * # Constants
 *------------------------------------*/

/*RTL Language Mixin*/

@mixin rtl {
    [dir='rtl'] & {
        @content;
    }
}

/* stylelint-disable color-no-hex */

/* COLOR PALETTE */

/* colors */
$color-black: #0c0712;
$color-black-1: #180f24;
$color-black-3: #311d49;
$color-black-4: #492c6d;
$color-black-5: #623a92;
$color-black-6: #7a49b6;
$color-black-7: #0e0613;
$color-black-8: #331d49;
$color-black-9: #553366;
$color-black-10: #1b0d26;
$color-blue: #8840bf;
$color-blue-1: #a066cc;
$color-blue-2: #36194d;
$color-blue-3: #522673;
$color-blue-4: #36194d;
$color-blue-5: #f3ecf9;
$color-blue-6: #cfb3e6;
$color-blue-7: #1b0d26;
$color-blue-8: #f3ecf9;
$color-blue-9: #0e0613;
$color-brown: #8b6a53;
$color-green: #8a34cb;
$color-green-1: #a15dd5;
$color-green-2: #6e2aa2;
$color-green-3: #531f7a;
$color-green-4: #371551;
$color-green-5: #37155129;
$color-green-6: #d0adeb;
$color-green-7: #f3ebfa;
$color-green-8: #e8d6f5;
$color-grey: #d3bbdd;
$color-grey-1: #a877bb;
$color-grey-2: #f2edf8;
$color-grey-3: #e6daf1;
$color-grey-4: #d2bbdd;
$color-grey-5: #bb99cc;
$color-grey-6: #d2bbdd;
$color-grey-7: #714488;
$color-grey-8: #ccb6e2;
$color_grey-9: #8e55aa;
$color-grey-10: #a477bb;
$color-grey-11: #ffffff;
$color-grey-12: #f3ecf9;
$color-grey-13: #392244;
$color-grey-14: #e8ddee;
$color-grey-15: #f4eef6;
$color-orange: #8b28d7;
$color-orange-2: #a253df;
$color-purple: #8840bf;
$color-red: #6d3399;
$color-red-1: #8840bf;
$color-red-2: #522673;
$color-red-3: #36194d;
$color-red-4: #522673;
$color-red-5: #a066cc;
$color-red-6: #8840bf29;
$color-red-7: #f3ecf9;
$color-red-8: #36194d;
$color-red-9: #522673;
$color-red-10: #6d3399;
$color-red-11: #f3ecf9;
$color-red-12: #36194d;
$color-violet: #522673;
$color-white: #ffffff;
$color-yellow: #8b28d7;
$color-yellow-1: #6f20ac;
$color-yellow-2: #a253df;
$color-yellow-3: rgba(139, 40, 215, 0.16);
$color-yellow-4: #f3e9fb;
$color-yellow-5: #381056;
$color-yellow-6: #e8d4f7;

/* status colors */
$color-status-warning: rgba(139, 40, 215, 0.16);
$color-status-information: rgba(136, 64, 191, 0.16);
$color-status-announcement: rgba(138, 52, 203, 0.16);
$color-status-error: rgba(109, 51, 153, 0.16);
$color-status-verified: rgba(138, 52, 203, 1);
$color-status-danger: rgba(109, 51, 153, 1);

/* alpha colors */
$alpha-color-black-1: transparentize($color-black-7, 0.28);
$alpha-color-black-2: transparentize($color-black, 0.04);
$alpha-color-black-3: transparentize($color-black-7, 0.92);
$alpha-color-black-4: transparentize($color-black-7, 0.84);
$alpha-color-black-5: transparentize($color-black-7, 0.16);
$alpha-color-black-6: transparentize($color-black-7, 0.36);
$alpha-color-black-7: transparentize($color-black, 0.5);
$alpha-color-blue-1: transparentize($color-blue, 0.84);
$alpha-color-blue-2: transparentize($color-blue-3, 0.84);
$alpha-color-blue-3: transparentize($color-blue, 0.92);
$alpha-color-white-1: transparentize($color-white, 0.04);
$alpha-color-white-2: transparentize($color-white, 0.84);
$alpha-color-white-3: transparentize($color-white, 0.92);
$alpha-color-white-4: transparentize($color-white, 0.3);
$alpha-color-red-1: transparentize($color-red, 0.92);
$alpha-color-red-2: transparentize($color-red, 0.84);
$alpha-color-red-3: transparentize($color-red, 0.76);
$alpha-color-green-1: transparentize($color-green-1, 0.08);
$alpha-color-green-2: transparentize($color-green-3, 0.08);
$alpha-color-green-3: transparentize($color-green-3, 0.84);
$alpha-color-yellow-1: transparentize($color-yellow, 0.84);

/* gradient colors */
$gradient-color-green-1: linear-gradient(to top, $color-white, transparentize($color-green-1, 0.84));
$gradient-color-green-2: linear-gradient(to top, $color-black, transparentize($color-green-3, 0.84));
$gradient-color-red-1: linear-gradient(to top, $color-white, transparentize($color-red, 0.84));
$gradient-color-red-2: linear-gradient(to top, $color-black, transparentize($color-red, 0.84));
$contract-gradient-color-red-1: linear-gradient(to top, $color-white 85%, transparentize($color-red, 0.84));
$contract-gradient-color-red-2: linear-gradient(to top, $color-black 85%, transparentize($color-red, 0.84));
$gradient-color-white: linear-gradient(to right, transparentize($color-white, 1) -5%, $color-white 71%);
$gradient-color-black: linear-gradient(to right, transparentize($color-black, 1) -5%, $color-black 71%);

$gradient-color-purple: linear-gradient(274.73deg, #c4b5fd 3.82%, #8b5cf6 88.49%);
$gradient-color-blue: linear-gradient(274.73deg, #e7d9f2 3.82%, #8840bf 88.49%);
$gradient-color-orange: linear-gradient(90deg, #d1a9ef 0%, #8b28d7 100%);
$gradient-color-black-2: linear-gradient(274.73deg, #311d49 3.82%, #0c0712 88.49%);
$gradient-color-orange-2: linear-gradient(90deg, #ba7ee7 0%, #a253df 103.12%);
$gradient-color-blue-2: linear-gradient(90deg, #cfb3e6 0%, #8840bf 100%);
$gradient-color-green-3: linear-gradient(90deg, #e8d6f5 0%, #8a34cb 100%);
$gradient-color-blue-3: linear-gradient(90deg, #b88cd9 0%, #522673 100%);
$gradient-color-orange-3: linear-gradient(90deg, #d1a9ef 0%, #8b28d7 100%);
$gradient-color-orange-4: linear-gradient(90deg, #e8d4f7 0%, #a253df 100%);
$gradient-color-blue-4: linear-gradient(90deg, #cfb3e6 0%, #8840bf 100%);
$gradient-color-red-3: linear-gradient(90deg, #a066cc 0%, #6d3399 95.22%);
$gradient-color-red-4: linear-gradient(90deg, #cfb3e6 0%, #8840bf 100%);
$gradient-color-black-3: linear-gradient(58.51deg, #180f24 28.06%, #331d49 93.51%);
$gradient-color-black-4: linear-gradient(274.25deg, #1c1122 9.01%, #392244 103.31%);
$gradient-color-black-5: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(12, 7, 18, 0.16) 100%);
$gradient-color-white-2: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.16) 100%);
$gradient-color-blue-5: linear-gradient(90deg, #d0adeb 0%, #8a34cb 104.41%);
$gradient-color-gold: linear-gradient(90deg, #e8d4f7 0%, #8b28d7 104.41%);
$gradient-color-green-4: linear-gradient(90deg, #e8d6f5 0%, #8a34cb 104.41%);

/* Preserve legacy variables */
/* Primary */

$COLOR_BLACK: #0c0712;
$COLOR_BLACK_2: #180f24;
$COLOR_BLACK_3: #0c0712;
$COLOR_GREEN_1: #a15dd5;
$COLOR_GREEN_2: #8a34cb;
$COLOR_GREEN_3: #6e2aa2;
$COLOR_GREEN_4: #531f7a;
$COLOR_GREEN_5: #371551;
$COLOR_ORANGE: #8b28d7;
$COLOR_DARK_ORANGE: #6f20ac;
$COLOR_PURPLE: #8840bf;
$COLOR_RED: #6d3399;
$COLOR_RED_2: #522673;
$COLOR_RED_3: #36194d;
$COLOR_CORAL_RED: #8840bf;
$COLOR_SKY_BLUE: #a066cc;
$COLOR_WHITE: #ffffff;
$COLOR_BLUE: #8840bf; /* PRIMARY BUTTON COLOR */

// Light theme
$COLOR_LIGHT_BLACK_1: rgba(0, 0, 0, 0.8);
$COLOR_LIGHT_BLACK_2: rgba(0, 0, 0, 0.4);
$COLOR_LIGHT_BLACK_3: rgba(0, 0, 0, 0.16);
$COLOR_LIGHT_BLACK_3_SOLID_1: #d2bbdd;
$COLOR_LIGHT_BLACK_3_SOLID_2: #bb99cc;
$COLOR_LIGHT_BLACK_4: rgba(0, 0, 0, 0.04);
$COLOR_LIGHT_BLACK_4_SOLID: #f2edf8;
$COLOR_LIGHT_GRAY_1: #9ca3af;
$COLOR_LIGHT_GRAY_2: rgba(153, 156, 172, 0.32);
$COLOR_LIGHT_GRAY_3: #e6daf1;
$COLOR_LIGHT_GRAY_4: #714488;
$COLOR_LIGHT_GRAY_5: #a877bb;
$COLOR_LIGHT_GRAY_6: #f2edf8;
$COLOR_LIGHT_GREEN_GRADIENT: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(138, 52, 203, 0.16));
$COLOR_LIGHT_RED_GRADIENT: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(136, 64, 191, 0.16));
$COLOR_LIGHT_WHITE_GRADIENT: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
// Dark theme
$COLOR_DARK_BLACK_GRADIENT: linear-gradient(to right, rgba(12, 7, 18, 1), rgba(12, 7, 18, 0));
$COLOR_DARK_BLUE_1: #0c0712;
$COLOR_DARK_BLUE_2: #180f24;
$COLOR_DARK_BLUE_3: #311d49;
$COLOR_DARK_BLUE_4: #331d49;
$COLOR_DARK_BLUE_5: #492c6d;
$COLOR_DARK_BLUE_6: #553366;
$COLOR_DARK_BLUE_7: #714488;
$COLOR_DARK_BLUE_8: rgba(127, 131, 151, 0.3);
$COLOR_DARK_GREEN_GRADIENT: linear-gradient(to top, rgba(12, 7, 18, 0), rgba(138, 52, 203, 0.16));
$COLOR_DARK_RED_GRADIENT: linear-gradient(to top, rgba(12, 7, 18, 0), rgba(136, 64, 191, 0.16));
$COLOR_DARK_GRAY_1: #311d49;
$COLOR_DARK_GRAY_2: #492c6d;
$COLOR_DARK_GRAY_3: #553366;
$COLOR_DARK_GRAY_4: #9ca3af;
/* stylelint-enable color-no-hex */

$BORDER_RADIUS: 4px;
$BORDER_RADIUS_2: 8px;

$MAX_CONTAINER_WIDTH: 1440px;

$POSITIONS_DRAWER_WIDTH: 240px;
$POSITIONS_DRAWER_MARGIN: 8px;

$HEADER_HEIGHT: 48px;
$FOOTER_HEIGHT: 36px;

$MOBILE_HEADER_HEIGHT: 48px;
$MOBILE_HEADER_DTRADER_V2_HEIGHT: 48px;
$MOBILE_HEADER_DTRADER_V2_WITH_BANNER_HEIGHT: 128px;
$MOBILE_HEADER_HEIGHT_DASHBOARD: 48px;
$MOBILE_WRAPPER_HEADER_HEIGHT: 48px;
$MOBILE_WRAPPER_FOOTER_HEIGHT: 70px;

$SIDEBAR_WIDTH: 240px;

/* Wallet gradient background (Mapped to your Purple/Blue/Violet Palette) */
$gradient-airtm: linear-gradient(90deg, #cfb3e6 0%, #8840bf 100%);
$gradient-banxa: linear-gradient(90deg, #0c0712 0%, #522673 96.35%);
$gradient-bitcoin: linear-gradient(90deg, #ba7ee7 0%, #a253df 103.12%);
$gradient-credit: linear-gradient(274.73deg, #1c1122 3.82%, #0c0712 88.49%);
$gradient-dp2p: linear-gradient(90deg, #a066cc 0%, #6d3399 95.22%);
$gradient-fasapay: linear-gradient(90deg, #a253df 0%, #522673 95.22%);
$gradient-jeton: linear-gradient(90deg, #d1a9ef 0%, #8b28d7 100%);
$gradient-mastercard: linear-gradient(90deg, #e8d4f7 0%, #a253df 100%);
$gradient-neteller: linear-gradient(90deg, #e8d6f5 0%, #8a34cb 100%);
$gradient-paylivre: linear-gradient(90deg, #522673 0%, #8840bf 100%);
$gradient-paysafe: linear-gradient(90deg, #6d3399 0%, #522673 100%);
$gradient-perfectmoney: linear-gradient(90deg, #a066cc 0%, #6d3399 100%);
$gradient-skrill: linear-gradient(274.73deg, #c4b5fd 3.82%, #8b5cf6 88.49%);
$gradient-sticpay: linear-gradient(90deg, #e8d4f7 0%, #a253df 100%);
$gradient-virtual: linear-gradient(90deg, #a066cc 0%, #8840bf 100%); /* The Demo Account Color */
$gradient-visa: linear-gradient(274.73deg, #e7d9f2 3.82%, #8840bf 88.49%);
$gradient-webmoney: linear-gradient(90deg, #b88cd9 0%, #522673 100%);

/* App Cards gradient background */
$gradient-virtual: linear-gradient(274.25deg, #1c1122 9.01%, #392244 103.31%);
$gradient-virtual-swap-free: linear-gradient(58.51deg, #180f24 28.06%, #331d49 93.51%);

/* Wallets */
$ready-banner-bg-color: #e8d6f5;
$ready-banner-tick-bg-color: #8a34cb;
$wallet-demo-bg-color: #f2edf8;
$wallet-dark-demo-bg-color: #0c0712;
$wallet-demo-divider-color: #e6daf1;
$wallet-box-shadow:
    0px 12px 16px -4px rgba(28, 17, 34, 0.06),
    0px 4px 6px -2px rgba(28, 17, 34, 0.03);
$btn-shadow:
    0px 24px 24px 0px rgba(28, 17, 34, 0.06),
    0px 0px 24px 0px rgba(28, 17, 34, 0.04);